.user-info {
    background   : $light;
    margin       : 15px 0px;
    padding      : 10px 15px;
    border-radius: $radius;

    span {
        margin-bottom: 5px;
        display      : inline-block;
    }

    h5 {
        margin-bottom: 0px;
    }
}

.welcome-profile {

    ul {
        text-align: left;

        li {
            padding      : 15px 0px;
            border-bottom: 1px solid $border-color;

            &:last-child {
                border        : 0px;
                padding-bottom: 0px;
            }

            a {
                // color      : darken($white, 5%);
                display    : flex;
                align-items: center;
                transition : all 0.25 ease-in-out;

                span {
                    // background     : $primary;
                    padding        : 5px;
                    border-radius  : 50px;
                    width          : 30px;
                    height         : 30px;
                    display        : inline-flex;
                    align-items    : center;
                    justify-content: center;
                    margin-right   : 10px;
                    transition     : all 0.25 ease-in-out;

                    &.verified {
                        background: $success;
                        color     : $white;
                    }

                    &.not-verified {
                        background: $primary;
                        color     : $white;
                    }
                }
            }
        }
    }
}

.profile-widget-icon {
    width     : 50px;
    height    : 50px;
}



///// 